.posts_main{
    display: flex;
    flex-direction: column;
    padding: 25px 30px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    box-shadow: 2px 1px 5px 0px #00000026;
    gap: 20px;
    border-radius: 5px;

}
.profile_box{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.profile_box_left{
    display: flex;
    gap: 15px;
}
.user_image{
    height: 40px;
    width: 40px;
}
.name_time{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top:5px;

}
.name{
    font-size: 13px;
    font-weight: 400;
    color: #000000;
}
.time{
    font-size: 10px;
    font-weight: 400;
    color: #808080
}
.profile_box_right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.question_answer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.question{
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}
.answer{
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}
.bottom_icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom_left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottom_left_element{
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 10px;
    color: #808080;
}
.bottom_right{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom_right_element{
    display: flex;
    gap: 2.5px;
    color: #808080;
    align-items: center;
}